.task {
    &__loading-overlay {
        &--false {
            display: none;
        }
        &--true {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            position: absolute;
            // position: sticky;
            // height: 100vh;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(142, 142, 142, 0.5);
            z-index: 1;
            min-height: 100vh;
        }
    }
    &__item {
        padding: 1em;
        &--delete {
            &__content {
                
            }
        }
    }
    &__content {
        margin-bottom: 2em;
    }
    &__review-section {
        margin: 1.5em 1em;
    }
    &__review-tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em;
    }
    &__item {
        &--title {
            font-size: 1.2em;
            padding-bottom: .5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &__content {
                margin-right: .3em;
            }
            &__delete {
                .btn {
                    min-width: 0;
                }
            }
        }
        &--createdAt, &--due-date {
            color: #474747;
            font-size: .8em;
            padding: .3em 1.3em;
            &__title {
                font-weight: 500;
            }
        }
        &--reviewRequested {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .5em;
        }
        &--reviewCompleted {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .5em;
        }
        &--assignTask {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: .3em;
            &__input {
                text-align: right;
            }
            &__button {
                font-size: .8em;
                padding: .3em 0;
                box-shadow: none;
                background: none;
                min-width: 0;
                min-height: 0;
                color: #27AEE3;
            }
            &__name {
                font-size: .9em;
            }
        }
        &--taskassign {
            &__cta {
                margin-top: 1em;
            }
        }
        &--store {
            padding: .3em 1em;
            &__content {
                background-color: #27AEE3;
                color: #ffffff;
                font-size: .7em;
                border-radius: 4px;
                padding: 4px 6px;
            }
        }
        &--description {
            color: #53668A;
            padding-bottom: 1em;
            padding-top: .3em;
            font-size: .9em;
            max-width: 30em;
        }
    }
    &__cta {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
        @media (min-width: 800px) {
            width: 81vw;
            right:0;
        }
        @media (max-width: 799px) {
            left:0;
        }
        &__item {
            width: 50%;
            text-align: center;
            &--headquarter {
                width: 100%;
            }
            &--audit {
                width: 100%;
            }
        }
        &__button {
            border: 1px solid #f2f2f2;
            background: #ffffff;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
            font-size: 1em;
            &--highlight {
                border-left: none;
                background-color: #27AEE3;
                color: #ffffff;
            }
            &--highlight-dark {
                border-left: none;
                color: #ffffff;
                background-color: #1D8ECE;
            }
            &--add-activity {
                background-color: #1D8ECE;
            }
        }
    }
}

.addactivitymodal {
    z-index: 1002;
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2em;
    }
    &__title {
        margin: .3em;
        font-size: 1.3em;
    }
    &__close {
        max-width: 18px;
        margin: .3em;
    }
    &__content {
        margin: 1em 0;
    }
    &__file {
        &__button {
            box-shadow: none;
            color: #ffffff;
            margin: .5em 0;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__preview {
            max-width: 50%;
            margin: 0 auto;
        }
    }
    &__cta {
        margin-top: 1em;
        &__button {
            box-shadow: none;
            background-color: #27AEE3;
            color: #ffffff;
        }
    }
}

.activity {
    &__title {
        margin-bottom: 1.3em;
        font-size: 1.2em;
        border-bottom: 2px solid #e2e2e2;
        padding-bottom: .5em;
    }
    &__content {
        &--empty {
            color: #474747;
            font-size: .8em;
        }
    }
}

.comments {
    &__add {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .activity__title {
        margin-bottom: .5em;
    }
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: .5em 0;
    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: .5em 0;
        width: 100%;
        &__left {
            padding: .3em .2em;
            display: flex;
            align-items: center;
        }
        &__right {
            padding: .3em .2em;
            flex-grow: 1;
            &__top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            &__bottom {
            }
        }
    }
    &__pic {
        width: 2.2em;
        margin-right: .3em;
    }
    &__time {
        color: #C4C4C4;
        font-size: .8em;
        margin-top: .1em;
    }
    &__role {
        color: #C4C4C4;
        font-size: .8em;
    }
    &__body {
        margin-top: .5em;
        color: #53668A;
        font-size: .9em;
        &__content {
            font-family: 'Poppins', sans-serif;
            white-space: pre-wrap;
            word-break: break-word;
            max-width: 30em;
            line-height: 1.4;
        }
    }
}


input[type="file"] {
    display: none;
}

.tg-list {
  list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	align-items: center;
}

.tg-list-item {
  list-style: none;
	margin: 0;
	padding: 0;
	margin: 0 2em;
}

.tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 2em;
		height: 1em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

// themes
.tgl-light {
	+ .tgl-btn {
		background: #f0f0f0;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
	}
  
	&:checked + .tgl-btn {
		background: #9FD6AE;
	}
}

.taskdonemodal {
    position: relative; 
    &__overlay {
        background-color: rgba(142, 142, 142, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__item {
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em;
        box-shadow: none;
        border: none;
        background-color: #ffffff;
        font-size: 1em;
        min-width: 0;
        min-height: 2em;
        border-radius: 0;
        width: 100%;
        &__icon {
            max-width: 1em;
            display: flex;
            align-items: center;
            margin-right: .5em;
        }
        &__content {
            font-size: .9em;
            &--disabled {
                color: #bfbfbf;
            }
        }
        &--request-review {
            border-bottom: 1px solid #474747;
            padding-top: .5em;

        }
        &--mark-completed {
            padding-top: .9em;
        }
        // text-align: center;
    }
    &__header {
        max-width: .6em;
        position: absolute;
        right: -.7em;
        top: -2.3em;
    }
}